

NET "LED[0]" LOC = Y3;
NET "LED[1]" LOC = Y1;
NET "LED[2]" LOC = W2;
NET "LED[3]" LOC = W1;
NET "LED[4]" LOC = V3;
NET "LED[5]" LOC = V1;
NET "LED[6]" LOC = U2;
NET "LED[7]" LOC = U1;
NET "GPIO[0]" LOC = R8;
NET "GPIO[1]" LOC = T8;
NET "GPIO[2]" LOC = U5;
NET "GPIO[3]" LOC = T4;
NET "GPIO[4]" LOC = R10;
NET "GPIO[5]" LOC = T9;
NET "GPIO[6]" LOC = P3;
NET "GPIO[7]" LOC = P1;
NET "SYS_CLK_P" LOC = B14;


NET "GPIO[0]" DRIVE = 24;
NET "GPIO[1]" DRIVE = 24;
NET "GPIO[2]" DRIVE = 24;
NET "GPIO[3]" DRIVE = 24;
NET "GPIO[4]" DRIVE = 24;
NET "GPIO[5]" DRIVE = 24;
NET "GPIO[6]" DRIVE = 24;
NET "GPIO[7]" DRIVE = 24;
NET "LED[0]" DRIVE = 24;
NET "LED[1]" DRIVE = 24;
NET "LED[2]" DRIVE = 24;
NET "LED[3]" DRIVE = 24;
NET "LED[4]" DRIVE = 24;
NET "LED[5]" DRIVE = 24;
NET "LED[6]" DRIVE = 24;
NET "LED[7]" DRIVE = 24;

# PlanAhead Generated physical constraints 

NET "DA2_CLK_OUT" LOC = R3;
NET "DA2_D2" LOC = N7;
NET "DA2_D1" LOC = R5;
NET "DA2_nSYNC" LOC = P6;
NET "SYS_RST" LOC = R4;

# PlanAhead Generated IO constraints 

NET "DA2_CLK_OUT" DRIVE = 24;
NET "DA2_D1" DRIVE = 24;
NET "DA2_D2" DRIVE = 24;
NET "DA2_nSYNC" DRIVE = 24;
NET "GPIO[8]" DRIVE = 24;
NET "GPIO[9]" DRIVE = 24;
NET "GPIO[10]" DRIVE = 24;
NET "GPIO[11]" DRIVE = 24;
NET "GPIO[12]" DRIVE = 24;
NET "GPIO[13]" DRIVE = 24;
NET "GPIO[14]" DRIVE = 24;
NET "GPIO[15]" DRIVE = 24;
