
# PlanAhead Generated IO constraints 

NET "GPIO[0]" DRIVE = 24;
NET "GPIO[1]" DRIVE = 24;
NET "GPIO[2]" DRIVE = 24;
NET "GPIO[3]" DRIVE = 24;
NET "GPIO[4]" DRIVE = 24;
NET "GPIO[5]" DRIVE = 24;
NET "GPIO[6]" DRIVE = 24;
NET "GPIO[7]" DRIVE = 24;
NET "GPIO[8]" DRIVE = 24;
NET "GPIO[9]" DRIVE = 24;
NET "GPIO[10]" DRIVE = 24;
NET "GPIO[11]" DRIVE = 24;
NET "GPIO[12]" DRIVE = 24;
NET "GPIO[13]" DRIVE = 24;
NET "GPIO[14]" DRIVE = 24;
NET "GPIO[15]" DRIVE = 24;
NET "LED[0]" DRIVE = 24;
NET "LED[1]" DRIVE = 24;
NET "LED[2]" DRIVE = 24;
NET "LED[3]" DRIVE = 24;
NET "LED[4]" DRIVE = 24;
NET "LED[5]" DRIVE = 24;
NET "LED[6]" DRIVE = 24;
NET "LED[7]" DRIVE = 24;

# PlanAhead Generated physical constraints 

NET "GPIO[1]" LOC = T8;
NET "GPIO[2]" LOC = U5;
NET "GPIO[3]" LOC = T4;
NET "GPIO[4]" LOC = R10;
NET "GPIO[5]" LOC = T9;
NET "GPIO[6]" LOC = P3;
NET "GPIO[7]" LOC = P1;
NET "GPIO[8]" LOC = N6;
NET "GPIO[9]" LOC = P6;
NET "GPIO[10]" LOC = P5;
NET "GPIO[11]" LOC = R5;
NET "GPIO[12]" LOC = N8;
NET "GPIO[13]" LOC = N7;
NET "GPIO[14]" LOC = R4;
NET "GPIO[15]" LOC = R3;
NET "LED[0]" LOC = Y3;
NET "LED[1]" LOC = Y1;
NET "LED[2]" LOC = W2;
NET "LED[3]" LOC = W1;
NET "LED[4]" LOC = V3;
NET "LED[5]" LOC = V1;
NET "LED[6]" LOC = U2;
NET "LED[7]" LOC = U1;
NET "CLK_AB_P" LOC = AE15;
NET "CLK_TO_FPGA" LOC = W24;
NET "DAC_N_EN" LOC = W10;
NET "DAC_SDO" LOC = W9;
NET "SPI_SCLK" LOC = AE5;
NET "SPI_SDATA" LOC = AF5;
NET "SYS_CLK_P" LOC = B14;
NET "SYS_RST" LOC = R8;
