
# PlanAhead Generated physical constraints 

NET "SYS_CLK_P" LOC = B14;
NET "SYS_CLK_N" LOC = A14;

# PlanAhead Generated IO constraints 

NET "GPIO[0]" DRIVE = 24;
NET "GPIO[1]" DRIVE = 24;
NET "GPIO[2]" DRIVE = 24;
NET "GPIO[3]" DRIVE = 24;
NET "GPIO[4]" DRIVE = 24;
NET "GPIO[5]" DRIVE = 24;
NET "GPIO[6]" DRIVE = 24;
NET "GPIO[7]" DRIVE = 24;

# PlanAhead Generated physical constraints 

NET "GPIO[0]" LOC = Y3;
NET "GPIO[1]" LOC = Y1;
NET "GPIO[2]" LOC = W2;
NET "GPIO[3]" LOC = W1;
NET "GPIO[4]" LOC = V3;
NET "GPIO[5]" LOC = V1;
NET "GPIO[6]" LOC = U2;
NET "GPIO[7]" LOC = U1;
NET "SYS_RST" LOC = R8;
