CONFIG VCCAUX  = 3.3;

#System Control
NET "SYS_CLK_P" LOC = B14;
NET "SYS_RST" LOC = B21;
NET "SYS_PLL_Locked" LOC = C21;

#LED_8 Interface
NET "LED[0]" LOC = Y3;
NET "LED[1]" LOC = Y1;
NET "LED[2]" LOC = W2;
NET "LED[3]" LOC = W1;
NET "LED[4]" LOC = V3;
NET "LED[5]" LOC = V1;
NET "LED[6]" LOC = U2;
NET "LED[7]" LOC = U1;

#GPIO_16 Interface
NET "GPIO[0]" LOC = R8;
NET "GPIO[1]" LOC = T8;
NET "GPIO[2]" LOC = U5;
NET "GPIO[3]" LOC = T4;
NET "GPIO[4]" LOC = R10;
NET "GPIO[5]" LOC = T9;
NET "GPIO[6]" LOC = P3;
NET "GPIO[7]" LOC = P1;
NET "GPIO[8]" LOC = N6;
NET "GPIO[9]" LOC = P6;
NET "GPIO[10]" LOC = P5;
NET "GPIO[11]" LOC = R5;
NET "GPIO[12]" LOC = N8;
NET "GPIO[13]" LOC = N7;
#NET "GPIO[14]" LOC = R4;
#NET "GPIO[15]" LOC = R3;
#FMCCE LEDs8
NET "FMCCE_LEDs8[0]" LOC = E16;
NET "FMCCE_LEDs8[1]" LOC = F16;
NET "FMCCE_LEDs8[2]" LOC = G15;
NET "FMCCE_LEDs8[3]" LOC = H14;
NET "FMCCE_LEDs8[4]" LOC = K14;
NET "FMCCE_LEDs8[5]" LOC = G11;
NET "FMCCE_LEDs8[6]" LOC = J11;
NET "FMCCE_LEDs8[7]" LOC = A12;

#FMCCE Switches8
NET "FMCCE_switches8[1]" LOC = E18;
NET "FMCCE_switches8[2]" LOC = F18;
NET "FMCCE_switches8[3]" LOC = F17;
NET "FMCCE_switches8[4]" LOC = G16;
NET "FMCCE_switches8[5]" LOC = H15;
NET "FMCCE_switches8[6]" LOC = J15;
NET "FMCCE_switches8[7]" LOC = J17;
NET "FMCCE_switches8[0]" LOC = H17;

#FMCCE LEDs5
NET "FMCCE_LEDs5[0]" LOC = H10;
NET "FMCCE_LEDs5[1]" LOC = A4;
NET "FMCCE_LEDs5[2]" LOC = E12;
NET "FMCCE_LEDs5[3]" LOC = G10;
NET "FMCCE_LEDs5[4]" LOC = A2;

#FMCCE Buttons5
NET "FMCCE_buttons5[0]" LOC = G9;
NET "FMCCE_buttons5[1]" LOC = B4;
NET "FMCCE_buttons5[2]" LOC = F12;
NET "FMCCE_buttons5[3]" LOC = H9;
NET "FMCCE_buttons5[4]" LOC = A3;

#GPMC Interface
NET "GPMC_A_I[10]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[1]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[2]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[3]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[4]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[5]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[6]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[7]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[8]" IOSTANDARD = LVCMOS33;
NET "GPMC_A_I[9]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[15]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[14]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[13]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[12]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[11]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[10]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[9]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[8]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[7]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[6]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[5]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[4]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[3]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[2]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[1]" IOSTANDARD = LVCMOS33;
NET "GPMC_D_B[0]" IOSTANDARD = LVCMOS33;
NET "GPMC_nCS_I[6]" IOSTANDARD = LVCMOS33;
NET "GPMC_nCS_I[5]" IOSTANDARD = LVCMOS33;
NET "GPMC_nCS_I[4]" IOSTANDARD = LVCMOS33;
NET "GPMC_nCS_I[3]" IOSTANDARD = LVCMOS33;
NET "GPMC_nCS_I[2]" IOSTANDARD = LVCMOS33;
NET "GPMC_nCS_I[1]" IOSTANDARD = LVCMOS33;
NET "GPMC_nCS_I[0]" IOSTANDARD = LVCMOS33;
NET "GPMC_CLK_I" IOSTANDARD = LVCMOS33;
NET "GPMC_nADV_ALE_I" IOSTANDARD = LVCMOS33;
NET "GPMC_nOE_I" IOSTANDARD = LVCMOS33;
NET "GPMC_nWE_I" IOSTANDARD = LVCMOS33;
NET "GPMC_WAIT_O" IOSTANDARD = LVCMOS33;

NET "GPMC_A_I[1]" LOC = N17;
NET "GPMC_A_I[2]" LOC = N18;
NET "GPMC_A_I[3]" LOC = L23;
NET "GPMC_A_I[4]" LOC = L24;
NET "GPMC_A_I[5]" LOC = N19;
NET "GPMC_A_I[6]" LOC = N20;
NET "GPMC_A_I[7]" LOC = N21;
NET "GPMC_A_I[8]" LOC = N22;
NET "GPMC_A_I[9]" LOC = P17;
NET "GPMC_A_I[10]" LOC = P19;
NET "GPMC_D_B[1]" LOC = N24;
NET "GPMC_D_B[2]" LOC = R18;
NET "GPMC_D_B[3]" LOC = R19;
NET "GPMC_D_B[4]" LOC = P21;
NET "GPMC_D_B[5]" LOC = P22;
NET "GPMC_D_B[6]" LOC = R20;
NET "GPMC_D_B[7]" LOC = R21;
NET "GPMC_D_B[8]" LOC = P24;
NET "GPMC_D_B[9]" LOC = P26;
NET "GPMC_D_B[10]" LOC = R23;
NET "GPMC_D_B[11]" LOC = R24;
NET "GPMC_D_B[12]" LOC = T22;
NET "GPMC_D_B[13]" LOC = T23;
NET "GPMC_D_B[14]" LOC = U23;
NET "GPMC_D_B[15]" LOC = R25;
NET "GPMC_D_B[0]" LOC = N23;
NET "GPMC_nCS_I[0]" LOC = V23;
NET "GPMC_nCS_I[1]" LOC = U25;
NET "GPMC_nCS_I[2]" LOC = T24;
NET "GPMC_nCS_I[3]" LOC = T26;
NET "GPMC_nCS_I[4]" LOC = V24;
NET "GPMC_nCS_I[5]" LOC = V26;
NET "GPMC_nCS_I[6]" LOC = W25;
NET "GPMC_CLK_I" LOC = R26;
NET "GPMC_nADV_ALE_I" LOC = AA26;
NET "GPMC_nOE_I" LOC = AA25;
NET "GPMC_nWE_I" LOC = W26;
NET "GPMC_WAIT_O" LOC = AD26;

#FMC103 Control Interface
NET "FMC103_EXT_CLK" LOC = W24;
NET "FMC103_EXT_CLK" IOSTANDARD = LVCMOS33;
NET "AD9510_SCLK_O" LOC = AC5;
NET "AD9510_MOSI_O" LOC = AD5;
#NET "AD9510_MISO_I" LOC = AC5;
NET "AD9510_N_SS_O" LOC = W8;

#FMC103 CONTROL GPIO
NET "FMC103_GPIO[0]" LOC = W7;
#ADS62P49 Data Interface
NET "ADC_DATA_A_P[0]" LOC = AB14;
NET "ADC_DATA_A_P[1]" LOC = Y21;
NET "ADC_DATA_A_P[2]" LOC = W20;
NET "ADC_DATA_A_P[3]" LOC = AB22;
NET "ADC_DATA_A_P[4]" LOC = V18;
NET "ADC_DATA_A_P[5]" LOC = W17;
NET "ADC_DATA_A_P[6]" LOC = AA21;
NET "ADC_DATA_B_P[0]" LOC = Y17;
NET "ADC_DATA_B_P[1]" LOC = U15;
NET "ADC_DATA_B_P[2]" LOC = AA19;
NET "ADC_DATA_B_P[3]" LOC = W16;
NET "ADC_DATA_B_P[4]" LOC = AA18;
NET "ADC_DATA_B_P[5]" LOC = Y15;
NET "ADC_DATA_B_P[6]" LOC = V14;
NET "ADC_CLK_AB_P" LOC = AE15;

#Created by Constraints Editor (xc6slx150t-fgg676-4) - 2013/11/05
NET "SYS_CLK_P" TNM_NET = SYS_CLK_P;
TIMESPEC TS_SYS_CLK_P = PERIOD "SYS_CLK_P" 10 ns HIGH 50%;
NET "SYS_CLK_N" TNM_NET = SYS_CLK_N;
TIMESPEC TS_SYS_CLK_N = PERIOD "SYS_CLK_N" TS_SYS_CLK_P PHASE 5 ns HIGH 50%;
NET "ADC_CLK_AB_P" TNM_NET = ADC_CLK_AB_P;
TIMESPEC TS_ADC_CLK_AB_P = PERIOD "ADC_CLK_AB_P" 4.069 ns HIGH 50%;
NET "FMC103_EXT_CLK" TNM_NET = FMC103_EXT_CLK;
TIMESPEC TS_FMC103_EXT_CLK = PERIOD "FMC103_EXT_CLK" 4.069 ns HIGH 50%;
